1. Database is an organised collection of data which is stored in a particular system. SQL databases are relational while NoSQL databases are non-relational. SQL databases have pre-defined schema while NoSQL databases have dynamic schema. Sql databases are vertically scalable while NoSQL databases are horizontally scalable.SQL databases are better for multi-row transactions while NoSQL databases are better for unstructured data.

2. DDL stands for Data Definition Language which is used for defining the strucure of the database.
Create statement is used for creation of an object. Eg- create database emp;
Drop statement is used for deletion of an object. Eg - drop table student;
Alter statement is used for modifying the structre of an object. Eg - alter table emp add column mobile varchar(100);
Truncate statement is used for deleting all rows but retaining the structure of that object. Eg - truncate table users;

3. DML stands for Data Manipulation Language which is used for manipulating the data in database.
Insert statement is used to add new records(rows) in the database. Eg - insert into emp values(eid integer, ename varchar(20));
Update statement is used to modify existing records in the database. Eg - update emp set eid=1 where ename="abc";
Delete statement is used to remove the records from the database. Eg - delete from emp where eid=1;

4. DQL stands for Data Query Language which is used for retrieving the data from database.
Select statement is used to retrieve the data from the one or more tables in a database. Eg - select * from emp;

5. Primary key is a key that uniquely identify each records in the table. We cannot insert null and duplicate values in this key. There is only one primary key in the table.
Foreign key is a key that is used to establish link between two tables. Foreign key is also known as primary key of another table.

6.
import mysql.connector
mydb=mysql.connector.connect(host="localhost",user="abc",password="123")
print(mydb)
The cursor method is used to create a cursor object in database which allows us to interact with the database by executing sql queries and execute method is used for executing sql queries.
mycursor=mydb.cursor()
mycursor.execute("show databases")

7.(a)From
(b)Join
(c)Where
(d)Group By
(e)Having
(f)Select
(g)Distinct
(h)Order by
(i)Limit